@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  /* ### Primary */

  --Dark-Blue: #2d314d;
  --Lime-Green: #31d35c;
  --Bright-Cyan: #2bb7da;

  /* ### Neutral */

  --Grayish-Blue: #9698a6;
  --Light-Grayish-Blue: #f3f4f6;
  --Very-Light-Gray: #fafafa;
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "Public Sans", sans-serif;
}

h1,
h2,
h3 {
  color: #2d314d;
}

p {
  color: #9698a6;
}

main {
  background: url("../images/bg-intro-mobile.svg") no-repeat;
  background-position-x: 100%;
}

button {
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
}

.currency {
  background-image: url("../images/image-currency.jpg");
}

.restaurant {
  background-image: url("../images/image-restaurant.jpg");
}

.plane {
  background-image: url("../images/image-plane.jpg");
}

.confetti {
  background-image: url("../images/image-confetti.jpg");
}

.article_image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1024px) {
  html {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    background-image: url("../images/bg-intro-desktop.svg");
    background-position-y: -11.3125rem;
    background-position-x: 39rem;
  }

  .heading_div {
    place-items: center start;
  }

  .footer_grid:nth-child(1) {
    grid-area: one;
  }

  .footer_grid:nth-child(2) {
    grid-area: two;
  }

  .footer_grid:nth-child(3) {
    grid-area: three;
  }

  .footer_grid:nth-child(4) {
    grid-area: four;
  }

  .footer_grid:nth-child(5) {
    grid-area: five;
  }

  .footer_grid:nth-child(6) {
    grid-area: six;
  }

  footer {
    grid-template-areas:
      "one three four"
      "two three five"
      "six six six";
  }

  .menu_underline {
    background-image: linear-gradient(to right, #31d35c, #2bb7da);
  }
}
