@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  /* ### Primary */

  --Dark-Blue: #2d314d;
  --Lime-Green: #31d35c;
  --Bright-Cyan: #2bb7da;

  /* ### Neutral */

  --Grayish-Blue: #9698a6;
  --Light-Grayish-Blue: #f3f4f6;
  --Very-Light-Gray: #fafafa;
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "Public Sans", sans-serif;
}

h1,
h2,
h3 {
  color: #2d314d;
}

p {
    color: #9698a6;
}

main {
  background: url('../images/bg-intro-mobile.svg') no-repeat;
  background-position-x: 100%;
}

button {
    background-image: linear-gradient(to right, #31d35c, #2bb7da);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
